.articulo {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
}

.derecha {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#ojo-image {
    width: 200px;
}

.texto {
    flex: 1;
}

.tecnologia {
    margin-top: 30px;
}

.fotos-tecnologia {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#tecnologia1-image {
    width: 250px;
}

#tecnologia2-image {
    width: 423px;
}

.aplicaciones {
    margin-top: 30px;
}

.futuro {
    margin-top: 30px;
}

.fuentes {
    margin-top: 30px;
}